#discord-login {
  font-size: 12px;
  padding: 9px 20px;
  border-width: 2px;
  background-color: #2f3136;
  border-radius: 25px;
  border-color: lightgrey;
}

#discord-login:hover {

  border-color: #ffffff;

}

#discord-login:focus {

  outline: none;

}

.iconpic {
  border-radius: 50%;
}

body {

  background-color: #34383C;

}

.navbar-brand {

  color: #ffffff;

}

.center {
  text-align: center;
}

.makewhite, .makewhitehover:hover {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-item, .dropdown-menu {
  background-color: #2f3136;
}

.dropdown-item:hover {
  background-color: #3b3d44;
}

.makelightgrey, .navbargreyopt:hover {
  color: lightgrey;
}

.navbar {
  background-color: #25272b;
}

#logoutnavbaropt {
  color: #a72a39;
}

.noicontext {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style:solid;
  border-width: 0.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav-item {

  font-size: 10px;

}

.dashnavlink {
  font-size: 20px;
}

#menubar {
  background-color: #17001a;
  z-index: 2000;
}

#dashboardmenubar {
  background-color: #2b2f33;
}

@media only screen and (min-width: 992px) {
  #dashboardmenubar {
    top: 0px !important;
  }
}

@media only screen and (max-width: 354px) {
  #discord-login {
    background-color: #17001a;
  }

  .loginspot {
    border: none;
  }
}

@media only screen and (max-width: 350px) {
  #menubarheader {
    font-size: 17px;
  }
}

@media only screen and (max-width: 324px) {
  #menubarheader {
    display: inline-block;
    transform: translateX(-40px);
    font-size: 11px;
    visibility: hidden;
  }

  #menubarheader:after {
    visibility: visible;
    content: "UU";
  }

  #collapsebutton {
    font-size: 9px;
  }

  .loginspot {
    font-size: 6px;
  }
}
