.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.gtdash {

  position: absolute;
  left: 550px;
  font-size: 10px;
}

.gtdashbtn {
  position: absolute;
  right: 400px;
}
