.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.gtdash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 10px;
}

.gtdashtext {
  display: inline;
}

.gtdashbtn {
  display: inline;
}
