<!DOCTYPE html>
<html>
  <head>
    <title>404 Error</title>
  </head>
  <body>
    <h1>404</h1>
    <p><strong>Congratulations</strong>: you're a failure!<br><a href="/">Home</a></p>
  </body>
</html>
