<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <%- include ../partials/imports %>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <%- include ../partials/navbar %>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h3 class="makewhite center">Configure the best Discord Server!</h3><br />
    <h5 class="makelightgrey center" style="font-size: 15px;"><i>UbiqitousUmbrella comes with highly customizable, moderation, leveling, ticket, and music commands with a web panel!</i></h5>
  </body>
</html>
