<nav class="navbar navbar-expand-lg">
   <a class="navbar-brand makewhite makewhitehover" href="/"><b>UbiqitousUmbrella</b></a>
   <div class="collapse navbar-collapse"">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link navbar-dc-link makewhitehover" href="#">Moderation</a>
       </li>
       <li class="nav-item">
         <a class="nav-link navbar-dc-link makewhitehover" href="#">Leveling</a>
       </li>
       <li class="nav-item">
         <a class="nav-link navbar-dc-link makewhitehover" href="#">Ticket System</a>
       </li>
       <li class="nav-item">
         <a class="nav-link navbar-dc-link makewhitehover" href="#">Music</a>
       </li>
     </ul>
     <% if (loggedin) { %>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="makewhite">
              <img class="iconpic" src="https://cdn.discordapp.com/avatars/<%=userInfo.id%>/<%=userInfo.avatar%>.png" width="26" height="26" /> <%=userInfo.username%>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item makelightgrey navbargreyopt" href="/myservers">My Servers</a>
            <a class="dropdown-item makered" id="logoutnavbaropt" href="/logout">Logout</a>
          </div>
        </li>
     <% } else { %>
       <button onclick="window.location.href = '/api/discord/login'" class="makewhite makewhitehover" id="discord-login">Login</button>
     <% } %>
   </div>
 </nav>
